.table {
    width: 80%;
    margin: 10px auto;
    text-align: center;
    border: 1px solid;
}

.table caption {
    height: 50px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
}

.tableRow {
    cursor: pointer;
}

.tableRow td {
    border: 1px solid;
}

.tableRow:hover {
    background-color: aliceblue;
}

.tableRow td:nth-child(1) {
    width: 70px;
    background-color: honeydew;
}

.tableRow td:nth-child(2) {
    width: 70px;
}



