.main {
    padding: 15px;
    background-color: #ebebeb;
}

.table {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid darkgrey;
    background-color: white;
}

.table caption {
    height: 50px;
    border: 1px solid darkgrey;
    border-bottom: none;
    background-color: white;
}

.main-loading {
    text-align: center;
}



