[class ^= tableRow] td{
    border: 1px solid darkgrey;
    cursor: pointer;
}

[class ^= tableRow]:hover {
    background-color: aliceblue;
}

[class ^= tableRow] td:nth-child(1) {
    width: 70px;
    vertical-align: top;
}

[class ^= tableRow] td:nth-child(2) {
    width: 70px;
    vertical-align: top;
}

[class ^= tableRow] td:nth-child(3) {
    text-align: left;
    padding: 0 10px 0 10px;
}